<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <img src="/content/img/BMW.png" class="car-logo" /> <h1 style="display:inline-block" class="brand-name" translate="GIVEAWAY_BMW5_ABOUT"> Seria 5 Giveaway by Laura Serban</h1>
                <hr class="tagline-divider">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_CAR_PARA_1">Daca vrei sa iti cresti pagina de business sau pagina personala cu audienta organica, reala si predominant din Romania, te invit sa participi la cele mai de succes mega giveaway-uri de pe piata pe pagina mea </p><a title="Instagram" href="https://www.instagram.com/lauraserbanofficial/">lauraserbanofficial</a>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <!--<div class="col-lg-12 desktop-only">
                    <carousel-loader hide-mobile="true"></carousel-loader>
                </div>-->
                <div class="col-lg-12 borderless-mobile-image">
                    <img class="img-responsive img-full" src="/content/img/promo.jpg" alt="Laura Serban About" />
                </div>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_CAR_PARA_2">Toate serviciile sunt realizate de catre LARTA MANAGEMENT SRL, pe factura intotdeauna si contract la cerere. Am la portofoliu peste 700 de clienti multumiti de serviciile mele.
            </div>
        </div>


        <div class="box">
            <div class="col-lg-12 text-center">
                <!--<div class="col-lg-12 desktop-only">
                <carousel-loader hide-mobile="true"></carousel-loader>
            </div>-->
                <div class="col-lg-12 borderless-mobile-image">
                    <img class="img-responsive img-full" src="/content/img/bmw-seria3-colaj.jpg" alt="Laura Serban About" />
                </div>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_BMW5_PARA_3">Cresterea este garantata. Daca promotia nu aduce numarul de followeri promisi, se va restitui o parte din plata sponsorului (minus costul masinii - aprox 120 euro per sponsor) proportionala cu numarul de followeri adusi (Exemplu: pt 300 euro facturati, daca concursul aduce doar jumatate din followeri, se va restitui (300-120)/2 = 90 euro. Vor fi comunicate, inainte de trimiterea facturii urmatoarele informatii, prin intermediul mesageriei Instagram:</p>
                <ul>
                    <li translate="GIVEAWAY_BMW5_LI_1">Intervalul de crestere (9 000 - 13 000 followeri)</li>
                    <li translate="GIVEAWAY_CAR_LI_2">Perioada de desfasurare a concursului</li>
                    <li translate="GIVEAWAY_CAR_LI_3">Pretul giveaway-ului, cu eventualele discounturi</li>
                    <li translate="GIVEAWAY_CAR_LI_4">Extra reduceri pt grupuri (cel putin 2 persoane)</li>
                    <li translate="GIVEAWAY_CAR_LI_5">3 categorii de promovare intensa</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_BMW_II_PARA_4">Giveaway-ul va avea intre 40 si 49 de sponsori. Followerii de pe @lauraserbanofficial sunt motivati sa dea follow tuturor sponsorilor prin organizarea unui concurs cu premiu masina BMW Seria 3 (in valoare de 5-6 mii euro). Regulile de participare pentru followeri sunt simple: follow la sponsori si comment (sau dupa caz, like) la poza de concurs. Concursul se desfasoara pe durata a mai multor zile, extragerea se face live sau pe stories filmata anterior cu un tool cu algoritm aleator, pe story, la final.</p>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_CAR_PARA_5">Lista completa a sponsorilor se va regasi in interiorul aplicatiei Instagram, la sectiunea Following la ambele conturi: </p> <a title="Instagram" href="https://www.instagram.com/lauraserbanofficial/">lauraserbanofficial</a> &nbsp; <a title="Instagram" href="https://www.instagram.com/lauraserban.secundar/">lauraserban.secundar</a> + 1 cont aditional daca este necesar
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_IPHONE13_PARA_6">Pentru a garanta cresterea, concursul poate fi repostat in feed, cu referinta la postarea originala si / sau in story, dar optional si in feed-ul sau pe story la alte conturi cu reach si audienta buna. Conturile care promoveaza concursul, inclusiv organizatorul, pot fi publice sau private in diferite momente ale concursului sau pe intreaga durata a acestuia. Monitorizarea si garantarea cresterii minime se raporteaza la conturile fara rata de unfollow si fara useri comuni, pentru a observa cat mai acurat cresterea reala a concursului. Se aplica discounturi de loialitate.</p> 
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <div sharethis-loader class="sharethis-inline-share-buttons"></div>
            </div>
        </div>

    </div>
</div>
