<div class="container">
    <button type="button" onclick="more()">More</button>
    <div id="instafeed"></div>
</div>
<script type="text/javascript" src="../scripts/vendor/instafeed.min.js"></script>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '1397192335',
        clientId: '6dec9fed9b844f809902163e95c47009',
        accessToken: '1397192335.1677ed0.b8bb8d167229491dba54f27f8c8c1a09'
    });
    feed.run();

    function more() {
        feed.next();
    }
</script>
