<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <h1 class="brand-name" translate="GIVEAWAY_IPHONE_ABOUT">Iphone 12 Giveaway by Laura Serban</h1>
                <hr class="tagline-divider">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_IPHONE_PARA_1">Daca vrei sa iti cresti pagina de business sau pagina personala cu audienta organia, reala si predominant din Romania, te invit sa participi la cele mai de succes mega giveaway-uri de pe piata pe pagina mea </p><a title="Instagram" href="https://www.instagram.com/lauraserbanofficial/">lauraserbanofficial</a>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <!--<div class="col-lg-12 desktop-only">
                    <carousel-loader hide-mobile="true"></carousel-loader>
                </div>-->
                <div class="col-lg-12 mobile-only borderless-mobile-image">
                    <img class="img-responsive img-full" src="/content/img/iphone.jpeg" alt="Laura Serban About" />
                </div>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_IPHONE_PARA_2">Toate serviciile sunt realizate de catre o Persoana Fizica Autorizata, pe factura intotdeauna si contract la cerere. Am la portofoliu peste 300 de clienti multumiti de serviciile mele.
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_IPHONE_PARA_3">Cresterea este garantata. Vor fi comunicate, inainte de trimiterea facturii urmatoarele informatii, prin intermediul mesageriei Instagram:</p>
                <ul>
                    <li translate="GIVEAWAY_IPHONE_LI_1">Intervalul de crestere (de exemplu: 8 000 - 10 000 followeri)</li>
                    <li translate="GIVEAWAY_IPHONE_LI_2">Perioada de desfasurare a concursului</li>
                    <li translate="GIVEAWAY_IPHONE_LI_3">Pretul giveaway-ului, cu eventualele discounturi</li>
                    <li translate="GIVEAWAY_IPHONE_LI_4">Extra reduceri pt grupuri (cel putin 2 persoane)</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_IPHONE_PARA_4">Giveaway-urile sunt cu multipli sponsori, in general intre 20 si 25 la numar. Followerii de pe @lauraserbanofficial sunt motivati sa dea follow tuturor sponsorilor prin organizarea unui concurs cu premiu Iphone 12. Regulile de participare pentru followeri sunt simple: follow la sponsori si comment (sau dupa caz, like) la poza de concurs. Concursul se desfasoara pe durata a mai multor zile, extragerea se face cu un tool cu algoritm aleator, pe story, la final.</p>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_IPHONE_PARA_5">Pentru a usura procesul de urmarire a sponsorilor pentru followeri, lista completa a sponsorilor se va regasi in interiorul aplicatiei Instagram, la sectiunea Following a unuia din conturile: </p> <a title="Instagram" href="https://www.instagram.com/lauraserbanofficial/">lauraserbanofficial</a> &nbsp; <a title="Instagram" href="https://www.instagram.com/larta.ro/">larta.ro</a> &nbsp; <a title="Instagram" href="https://www.instagram.com/lauraserban.secundar/">lauraserban.secundar</a>
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <p translate="GIVEAWAY_IPHONE_PARA_6">Pentru a garanta cresterea, concursul poate fi repostat in feed, cu referinta la postarea originala si / sau in story, dar optional si in feed-ul sau pe story la alte conturi cu reach si audienta buna. Monitorizarea si garantarea cresterii minime se raporteaza la conturile fara rata de unfollow si fara useri comuni, pentru a observa cat mai acurat cresterea reala a concursului. In caz de conturi cu multi useri comuni (old sponsors) se aplica discounturi aditionale, proportionale cu cresterea estimata.</p> 
            </div>
        </div>

        <div class="box">
            <div class="col-lg-12 text-center">
                <div sharethis-loader class="sharethis-inline-share-buttons"></div>
            </div>
        </div>

    </div>
</div>
