<div class="modal-popup"
     ui-swipe-left="nextPhoto();"
     ui-swipe-right="previousPhoto();"
     ng-style="imageHeight"
     >
    <a class="btn btn-primary modal-title" ng-href="{{model[imageIndex].link}}" target="_blank" data-translate="GALLERY_POPUP_SEE">See on Instagram</a>

    <button type="button" class="close close-modal" ng-click="close()"></button>
    
    <div class="carousel slide">
        <div uib-carousel 
             interval="5000" 
             active="imageIndex" 
             template-url="views/templates/image-carousel.html">
            <div uib-slide ng-repeat="slide in model track by $index" index="$index">
                <img class="img-responsive img-full" ng-src="{{slide.images.standard_resolution.url }}" style="width:inherit; margin:auto;" alt="Laura Serban Solista {{$index}}" />
                <!-- instaResizeOrig filter to above img -->
            </div>
        </div>
    </div>
    <span class="modal-sub">
        <span class="col-md-4 col-lg-4"> {{model[imageIndex].created_time | intToInstaDate}} </span>
        <span ng-click="like(model.id)" class="col-md-4 col-lg-4 custom-tooltip">
            <span ng-if="false" class="tooltiptext">Like me!</span>
            <img class="active-like" src="/content/img/like.png" alt="Like Photo" />
            {{model[imageIndex].likes.count}}
        </span>
        <span class="col-md-4 col-lg-4"> <img src="/content/img/comment.png" alt="Comment Photo" /> {{model[imageIndex].comments.count}} </span>
    </span>
</div>