<div class="modal-popup">
    <a class="btn btn-primary modal-title" ng-href="{{model.link}}" target="_blank">See on Instagram</a>
    <button type="button" class="close close-modal" ng-click="close()">
        <img src="../../content/img/cross.png"/>
    </button>
    <img class="modal-image" ng-src="{{model.images.standard_resolution.url | instaResizeOrig}}"
         on-error-src="{{model.images.standard_resolution.url}}"/>
    <span class="modal-sub">
        <span class="col-md-4 col-lg-4"> {{model.created_time | intToInstaDate}} </span>
        <span class="col-md-4 col-lg-4"> <img src="../../content/img/like.png" /> {{model.likes.count}} </span>
        <span class="col-md-4 col-lg-4"> <img src="../../content/img/comment.png" /> {{model.comments.count}} </span>
    </span>
</div>